@model PartialViewDemo.Models.Product

<div>
    <div>
            <h4>@Model.Name</h4>
    </div>
    <div>
            <img src='@Url.Content(Model.Photo)' width="200" height="200"/>
    </div>
    <div>
           <h4>@Model.Price</h4>
    </div>

</div>
'
