@model IEnumerable<AjaxDemo.Models.Category>

<table border="1">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
           
        </tr>
    }
</table>


