<div>
    <h3>Categories</h3>
    @Html.Action("Categories")
</div>
<p>-----------------------------------------------------------------</p>
<div>
    <h3>Products</h3>
    @Html.Action("Products")
</div>